@import 'var.less';

// Media queries
@media (min-width: 500px) {
  #transfer,
  #info {
    width: 80%;
  }
}

@media (min-width: 576px) {
  #transfer,
  #info {
    width: 70%;
  }
}

@media (min-width: 768px) {
  #transfer,
  #info {
    width: 60%;
  }
}

@media (min-width: 992px) {
  main {
    flex-direction: row;
    justify-content: space-around;
  }

  #info,
  #transfer {
    margin: 0;
  }

  #info {
    width: 30%;
  }

  #transfer {
    flex-direction: row;
    align-items: stretch;
    width: 60%;
  }

  #file-info,
  #upload-info {
    width: 50%;
  }

  #upload {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  #drop-zone {
    width: 100%;
    height: 50%;
  }

  #upload-info {
    margin: 0;
  }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}
