@import 'var.less';

// Reset
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
}

// =========================
html {
  height: 100%;
  font-size: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: @font;
  background-color: @darkgrey;
  color: @white;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

#logo {
  height: 6em;
}

.window {
  background-color: @grey;
  padding: 1em;
  margin-bottom: 1em;

  &.light {
    background-color: @lightgrey;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

// Info
#info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

#info,
#transfer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}

#transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Upload zone
#file-info {
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#upload {
  display: flex;
  align-items: center;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 0.9em;
    padding: 0.5em;
    box-sizing: border-box;
    text-align: center;
  }
}

#drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;

  &.active {
    background-color: @lightgrey;
  }
}

#upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &:focus + #label-upload {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: @yellow;
  }
}

#label-upload {
  font-size: 2em;
  @size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @orange;
  width: @size;
  height: @size;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: @yellow;
  }
}

#upload-info {
  width: 100%;
  box-sizing: border-box;
  background-color: @lightgrey;
  position:relative;
}

p {
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

input,
textarea,
button {
  display: block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  background-color: @grey;
  color: @white;
  border: none;
  font-family: @font;
  font-size: 0.9em;

  &::placeholder {
    color: darken(@white, 20%);
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5em;
}

input[type="submit"],
button {
  background-color: @orange;
  cursor: pointer;
  font-weight: bold;

  &:hover,
  &:focus {
    background-color: @yellow;
  }
}

#wrong1, #wrong2{
  font-size:17px;
  margin:8px;
}

#overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(00,00,00,0.3);
    align-items:center;
    justify-content:center;
    flex-direction:column;
    z-index: 9999;
    height:100vh;
    display:none;
}

#overlay.active{
  display:flex;
}

#loading{
	width: 20vw;
	height: 20vw;
	max-width: 160px;
	max-height: 160px;
}

// result
#link-section {
  text-align: center;
}

#link-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#follow-link {
  margin-top: 1em;
}

#copy-link {
  display: inline-block;
  border-radius: 50%;
  width: auto;
  margin: 0.5em;

  img {
    width: 2em;
  }
}

// Footer
#main-footer {
  margin-top: auto;
  background-color: @grey;
  padding: 1em 2em;
  font-size: 0.9em;
  text-align: center;
}

// Media queries
@import 'responsive.less';
